<paws-header h1="Sign In" lead="Sign in to view your home page."></paws-header>

<form ng-controller="LoginController" ng-submit="login()" class="form-container" ng-class='{"has-error": form.errors.message != null}'>
    <paws-input
            name="username"
            model="form.username"
            type="text"
            errors="form.errors['username']"
            placeholder="Email Address"
            required="true"></paws-input>

    <paws-input
            name="password"
            model="form.password"
            type="password"
            errors="form.errors['password']"
            placeholder="Password"
            required="true"></paws-input>

    <div ng-show="form.errors.message" class="text-center alert alert-danger">
        {{form.errors.message}}
    </div>

    <div class=" text-center">
    <paws-submit value="Sign In" class="primary"></paws-submit>

    <p>
        <a href="#/reset">Did you forget your password?</a>
    </p>
    <a href="#/signup">Sign up for a new account.</a>
    </div>
</form>