<paws-header h1="Password Reset" lead="Enter your email address. Wait for the link to arrive in your inbox, then follow it to complete password reset."></paws-header>
<div class="center-block text-center">
    <form ng-controller="PasswordController" ng-submit="sendEmail()" class="form-container">
        <paws-input
                name="email"
                model="form.email"
                type="email" size="40"
                errors='form.errors["email"]'
                placeholder="Email Address"
                required="true"></paws-input>

        <paws-submit value="Send Email" class="success"></paws-submit>
    </form>
</div>