<paws-header h1="Password Change" lead="Enter your current password followed by your new password."></paws-header>

<form ng-controller="PasswordController" ng-submit="change()" class="form-container" ng-class='{"has-error": form.errors.message != null}'>
    <paws-input
            name="currentPassword"
            model="form.currentPassword"
            type="password"
            label="Current Password"
            errors="form.errors['currentPassword']"
            required="true"></paws-input>
    <paws-input
            name="newPassword.password1"
            model="form.newPassword.password1"
            type="password"
            label="New Password"
            errors="form.errors['newPassword.password1']"
            required="true"></paws-input>
    <paws-input
            name="newPassword.password2"
            model="form.newPassword.password2"
            type="password"
            label="Repeat New Password"
            errors="form.errors['newPassword.password2']"
            required="true"></paws-input>

    <paws-submit value="Change Password" class="primary btn-block"></paws-submit>
</form>