<paws-header h1="Password Reset" lead="Enter your new password."></paws-header>

<form ng-controller="PasswordController" ng-submit="reset()" class="form-container" ng-class='{"has-error": form.errors.message != null}'>
    <paws-input
            name="password.password1"
            model="form.password.password1"
            type="password"
            label="Password"
            errors="form.errors['password.password1']"
            placeholder="Password"
            required="true"></paws-input>
    <paws-input
            name="password.password2"
            model="form.password.password2"
            type="password"
            label="Repeat Password"
            errors="form.errors['password.password2']"
            placeholder="Repeat Password"
            required="true"></paws-input>

    <paws-submit value="Reset Password" class="primary btn-block"></paws-submit>
</form>